<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mlsdev.mcdonalds">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.MainActivity" android:noHistory="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.InstructionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.QrScannerActivity" android:noHistory="true" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.DiscountActivity" android:noHistory="true" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.DiscountExpiredActivity" android:noHistory="true" android:screenOrientation="portrait"/>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />


</manifest>
